<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
  </head>
  <body>
    <header>
      <h2>Tech Blog</h2>
    </header>
    <nav></nav>
    <main>
      {{{body}}}
    </main>
  </body>

</html>